{% load widget_tweaks %}


  <div class="modal-header">
    <h3 class="modal-title">Quick access codes</h3>
    <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <div class="modal-body">
     <strong> #BAL# (#225#)</strong>:	Provides account balance and last payment	<br>							
<strong>#BNG# (#264#):</strong>	Check the status of Binge On™	<br>								
<strong>#BOF# (#263#):</strong>	Turn off Binge On (T-Mobile’s unlimited streaming data feature)		<br>								
<strong>#BON# (#266#):</strong>	Turn on Binge On					<br>				
<strong>#FAM# (#326#):</strong>	Check Family Allowance usage		<br>								
<strong>#MIN# (#646#):</strong>	Check minute usage					<br>					
<strong>#MSG# (#674#):</strong>	Check message usage									<br>	
<strong>#WEB# (#932#):</strong>	Check data used, data plan, and expiration date			<br>							
<strong>#NUM# (#686#):</strong>	Display your phone number					<br>					
<strong>*PAY (*729):</strong>	Pay your bill over the phone					<br>					
<strong>#PWD# (#793#):</strong>	Reset voicemail password						<br>				
<strong>#PWO# (#796#):</strong>	Turn the voicemail password on or off	<br>									
<strong>#ROF# (#763#):</strong>	Turn off international data roaming			<br>							
<strong>#RON# (#766#):</strong>	Turn on international data roaming			<br>							
<strong>*#06#:</strong>	Display device IMEI number									<br>	
<strong>##004#:	</strong>Cancel call forwarding to voicemail (prevents new voicemail messages)		<br>								
<strong>#31#1+PhoneNumber:</strong>	Show name and number on outgoing calls		<br>								
<strong>*31#1+PhoneNumber:</strong>	Hide name and number on outgoing calls	<br>									
<strong>*43#:	</strong>Turn on call waiting									<br>	
<strong>#43#:</strong>	Turn off call waiting									<br>	
<strong>*671+PhoneNumber:</strong>	Blocks outgoing Caller ID on a per-call basis. Information still visible to toll-free numbers and 911						<br>				


      </div>

  <div class="modal-footer justify-content-between">
    <p>Only dial the codes in the parenthesis as would dial any number to make phone call</p>
          <button type="button" class="btn btn-default" data-bs-dismiss="modal">Close</button>

  </div>

